.main {
  font-family: lft-etica-mono, ui-monospace, SFMono-Regular, "SF Mono", Menlo,
    Consolas, "Liberation Mono", monospace;
  min-height: 100vh;
  background-color: #ffffff;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(72, 160, 248, 1) 100%
  );
}

.active {
  background-color: #48a0f8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(255, 255, 255)
  );
  color: rgb(17, 42, 87);
  padding: 0 5rem;
  position: sticky;
  top: 0;
}

.header_logoSection {
  display: flex;
  align-items: center;
}

.header_btn {
  width: 10rem;
  height: 2.5rem;
}

.title {
  font-size: 1.3rem;
  margin-left: 0.5rem;
  font-weight: 500;
}

.beans {
  margin-left: 0.5rem;
}

.connectBtn {
  width: 100%;
  height: 100%;
  background-color: #48a0f8;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.stakeBtn {
  position: absolute;
  bottom: 20px;
  width: 70%;
  height: 3rem;
  background-color: #48a0f8;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #0e111b;
}

.stakingContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin-top: -40px;
  gap: 50px;
}

.stakingContainer > section {
  /* width: 50%; */
  flex: 1;
}

.stakeUnstakeTab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 3rem;
  margin: auto;
  border-radius: 2rem;
  background-color: #eae6ef;
}

.stakeUnstakeTab > section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 2rem;
  cursor: pointer;
}

/* .stakeUnstakeTab > section:hover,
  .stakeUnstakeTab > section.active {
    background-color: rgba(238, 174, 202, 0.179);
    color: #fff;
  } */

.stakingType {
  background-color: #48a0f8;
  transition: all 150ms ease-in-out;
}

.stakingSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 68%;
  margin: auto;
  margin-top: 50px;
  border-radius: 2rem;
  box-shadow: rgba(36, 40, 71, 0.15) 0px 10px 22px,
    rgba(36, 40, 71, 0.2) 0px 21px 25px;
  background: linear-gradient(
      90deg,
      rgba(243, 243, 243, 0.15) 0%,
      rgba(243, 243, 243, 0.25) 9.89%,
      rgba(243, 243, 243, 0.25) 56.97%,
      rgba(243, 243, 243, 0.15) 101.76%
    ),
    rgba(0, 19, 255, 0.03);
  background-blend-mode: overlay, normal;
}

.stakingInfoSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 60%;
  background-color: #ffffff2d;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px #a2a2a25c;
  box-shadow: rgba(36, 40, 71, 0.15) 0px 10px 22px,
    rgba(36, 40, 71, 0.2) 0px 21px 25px;
  background-color: #ffffff;
  position: relative;
}

.apy {
  font-size: 1.5rem;
  font-weight: 600;
  margin: auto;
  color: transparent;
  background: linear-gradient(
    180deg,
    rgba(25, 33, 52, 1) 28%,
    rgba(7, 8, 21, 1) 75%
  );
  -webkit-background-clip: text;
}

.stakingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 94%;
  border-radius: 2rem;
  background-color: #cfd4df;
  /* box-shadow: rgba(36, 40, 71, 0.15) 0px 10px 22px,
      rgba(36, 40, 71, 0.1) 0px 21px 25px; */
  position: relative;
}

.stakingBox > h2 {
  margin-top: 1rem;
}

.inputField {
  width: 70%;
  height: 2.3rem;
  color: #3e2d67;
  background-color: #eae6ef;
  font-size: 1rem;
  font-family: consolas;
  margin: 1rem 0;
  padding-left: 0.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}

.inputField::placeholder {
  font-size: 1rem;
  color: #443e38;
}

.inputField::-webkit-inner-spin-button,
.inputField::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.inputFieldLocked {
  width: 90%;
  height: 3rem;
  color: #3e2d67;
  background-color: #eae6ef;
  font-size: 1rem;
  font-family: consolas;
  margin: 1rem 0;
  padding-left: 0.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}

.inputFieldLocked::placeholder {
  font-size: 1rem;
  color: #443e38;
}

.inputFieldLocked::-webkit-inner-spin-button,
.inputFieldLocked::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.stakingInfo {
  width: 70%;
}

.stakingInfo > h2 {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 5px;
}

.stakingInfo > p {
  font-family: consolas;
  font-weight: 300px;
  text-align: left;
  padding: 0.03rem 0;
  border-bottom: 1px solid rgb(25, 33, 52);
}

.lockedStaking {
  text-align: left;
  font-family: consolas;
  font-weight: 300px;
  display: flex;
  flex-direction: column;
  padding: 7px;
  border-bottom: 1px solid rgb(238, 174, 202);
  position: relative;
  top: -30px;
  height: 90px;
}

.stakingDataContainer {
  display: flex;
  justify-content: space-between;
  width: 52rem;
}

.stakingData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 3.75rem;
  border-radius: 1rem;
  color: #443e38;
  position: relative;
  top: -55px;
  background-color: #e7eaee;
  font-size: 1.1rem;
  font-weight: 600;
  /* padding: 2rem 1rem; */
  box-shadow: rgba(36, 40, 71, 0.1) 0px 1px 22px,
    rgba(36, 40, 71, 0.1) 0px 1px 15px;
}
.stakingData_value {
  color: #3e2d67;
  margin-top: 0.35rem;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #0e111b;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

/* @media only screen and (max-width: 1024px) {
    header .nav-btn {
      visibility: visible;
      opacity: 1;
    }
  
    .stakingDataContainer {
      position: fixed;
      top: -100vh;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      background-color: var(--mainColor);
      transition: 1s;
    }
  
    header .responsive_nav {
      transform: translateY(100vh);
    }
  
    nav .nav-close-btn {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
  
    nav a {
      font-size: 1.5rem;
    }
  } */

@media (max-width: 1024px) {
  .stakingSection {
    width: 90%;
    height: 65%;
    /* margin: auto; */
    /* margin-left: 10px; */
  }

  .stakingDataContainer {
    width: 90%;
    margin-top: 50px;
    margin: auto;
    gap: 30px;
    padding-left: 5%;;
  }


  .stakingData {
    width: 15rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    padding-left: 10%;
    padding-right: 10%;
  }

  .stakeUnstakeTab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .stakingDataContainer {
    flex-direction: column;
    margin-top: 300px;
    gap: 30px;
    max-width: fit-content;
  }

  .stakingContainer {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    /* margin-left: -30px; */
    /* margin-right: 300px; */
  }

  .stakingSection {
    width: 100%;
    height: 120%;
    margin: auto;
    margin-top: 50px;
  }
}

@media (max-width: 425px) {
  .container {
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    padding-left: 5%;
    padding-right: 5%;
  }

  .stakeUnstakeTab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .stakingDataContainer {
    flex-direction: column;
    margin-top: 250px;
    gap: 30px;
  }

  .stakingContainer {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    /* margin-left: -30px; */
    /* margin-right: 300px; */
  }

  .stakingSection {
    width: 100%;
    height: 120%;
    margin: auto;
    margin-top: 50px;
  }
}
